[submodule "glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/freetype-windows-binaries"]
	path = lib/freetype-windows-binaries
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
[submodule "lib/freetype2"]
	path = lib/freetype2
	url = https://github.com/aseprite/freetype2.git
